    .root {
        --main-font: 'Roboto', sans-serif;
        --secondary-font: 'Raleway', sans-serif;
        --main-letter-spacing: 0.03em;
        --secondary-letter-spacing: 0.02em;
        --other-letter-spacing: 0.06em;
    }
    body {
        font-family: var(--main-font);  
        letter-spacing: var(--main-letter-spacing)
      }
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
          
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
    .link{
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: 26px;
      line-height: 1.193;
    }
    .link-blue {
      color: #2196F3;
    }
    .link-black {
      color: #000000;
    }
    .link-white {
      /* color: #FFFFFF; */
    }
    a{
      text-decoration:none;
    }
        /* Header */

    .nav__item a {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: var(--secondary-letter-spacing);
      color: #212121;
    } 
    .nav__item a:hover,
    .nav__item a:focus,
    .nav__item a:active,
    .header__mail a:hover,
    .header__mail a:focus,
    .header__tel a:hover,
    .header__tel a:focus {
      color: #2196F3;
    }

        /* hero */
    .hero__title {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.364;
      letter-spacing: var(--other-letter-spacing);
      text-transform: uppercase;
      /* color: #FFFFFF; */
    }

    .modal__btn {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: var(--other-letter-spacing);
      /* color: #FFFFFF; */
    }

    .address a {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: var(--secondary-letter-spacing);
      color: #757575;
    }
    /* ------------Features------------ */
    .features__subtitl {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      text-transform: uppercase;
      color: #212121;
    }

    .features__desc {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.714;
      color: #757575; 
    }
    /* -----------------Work-examples ----------------*/

    .work-examples__title,
    .team__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.167;
      color: #212121;
    }
    /* Team */
    .team__subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.188;
      color: #212121;
    }

    .team__desc {
      font-size: 16px;
      line-height: 1.188;
      color: #757575;
    }
      /* Footer */
    .footer__adrress a {
      /* color: #FFFFFF;     */
    }
        /* -----------------------Menu-catalog-------------- */
    .catalog__btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.625;
      color: #212121;
    }
    .catalog__subtitle {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: var(--other-letter-spacing);
      color: #212121;
    }
    .catalog__desc {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.875;
      color: #757575;
    }


        

        
        



    