    /* .root {
        --main-font: 'Roboto', sans-serif;
        --secondary-font: 'Raleway', sans-serif;
        --main-letter-spacing: 0.03em;
        --secondary-letter-spacing: 0.02em;
        --other-letter-spacing: 0.06em;
    } */
    h1,
    h2,
    h3,
    p {
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0; 
    }
    img {
      display: block;
    }
    .container {
      display: flex;
      background: red;
    } 


      /* .header {
    display: flex;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
  
  header .address {
    display: flex;
    align-items: center;
  }
  
  .nav__items {
    display: flex;
    align-items: center;
  } */


    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
          
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
    body {
      font-family: 'Roboto', sans-serif;
      color: #212121;
    }
    a {
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      color: #212121;
    }
    ul {
      list-style: none;
    }
    .colortext {
      color: #2196F3;
    }
    .nav__item {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
    }
    .accent {
      color: #2196F3
    }
    a:hover,
    a:focus {
      color: #2196F3;
    }
        /* hero */
    .hero__title {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.364;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      /* color: #FFFFFF; */
    }

    .modal__btn {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
      /* color: #FFFFFF; */
    }

    .address a{
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      color: #757575;
    }
    /* ------------Features------------ */
    .features__subtitl {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #212121;
    }

    .features__desc {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.714;
      letter-spacing: 0.03em;
      color: #757575; 
    }
    /* -----------------Work-examples ----------------*/

    .work-examples__title,
    .team__title {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.167;
      letter-spacing: 0.03em;
      color: #212121;
    }
    /* Team */
    .team__subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.188;
      letter-spacing: 0.03em;
      color: #212121;
    }

    .team__desc {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 1.188;
      letter-spacing: 0.03em;
      color: #757575;
    }
      /* Footer */
    .footer__adrress a{
     /* color: #FFFFFF;  */
    }
        /* -----------------------Menu-catalog-------------- */
    .catalog__btn {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.625;
      letter-spacing: 0.03em;
      color: #212121;
    }
    .catalog__subtitle {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: #212121;
    }
    .catalog__desc {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.03em;
      color: #757575;
    }


        

        
        



    